{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ]
  }
}