@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');

* {
  -moz-user-select: none;
  -webkit-user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  height: 100%;
}
